{% extends "layout.html" %}
{% block content %}
<div class="card" style="width: 18rem;">
    <img src="/static/img/四国军棋.png" class="card-img-top" alt="四国军棋">
    <div class="card-body">
        <h5 class="card-title">四国军棋</h5>
        <p class="card-text">四个人2v2的桌游</p>
        <a href="{{url_for('lobby.FourNationChessLobby')}}" class="btn btn-primary position-relative">进入大厅
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                0人
            </span>
        </a>
    </div>
</div>
{% endblock %}